<p id="notice"><%= notice %></p>

<h1>Money</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>User</th>
      <th>Cost per</th>
      <th>Amount owned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @money.each do |money| %>
      <tr>
        <td><%= money.symbol %></td>
        <td><%= money.user_id %></td>
        <td><%= money.cost_per %></td>
        <td><%= money.amount_owned %></td>
        <td><%= link_to 'Show', money %></td>
        <td><%= link_to 'Edit', edit_money_path(money) %></td>
        <td><%= link_to 'Destroy', money, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Money', new_money_path %>
